<%! from django.core.urlresolvers import reverse %>
<%! from third_party_auth import pipeline %>
<%! from samlauth.nanolearning import NanolearningProvider %>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>Login with Applied Materials (Eteris) Credentials</title></%block>

<%block name="bodyclass">view-login</%block>

<%block name="js_extra">
  <script type="text/javascript">
    function thirdPartySignin(event, url) {
      event.preventDefault();
      window.location.href = url;
    }
  </script>
</%block>

<section class="login container">
  <section role="main" class="content" style="width:100%; text-align:center; margin:60px 0">
    <div class="form-actions form-third-party-auth" style="display:inline-block">
      <button type="submit" class="button button-primary" style="margin:0" onclick="thirdPartySignin(event, '${pipeline.get_login_url(NanolearningProvider.NAME, pipeline.AUTH_ENTRY_REGISTER)}');">
        <span class="icon icon-signin"></span>Register <div style="font-size:0.75em">with your Applied Materials credentials</div></button>
    </div>

    <span style="margin: 0 30px">or</span>

    <div class="form-actions form-third-party-auth" style="display:inline-block">
      <button type="submit" class="button button-primary" style="margin:0" onclick="thirdPartySignin(event, '${pipeline.get_login_url(NanolearningProvider.NAME, pipeline.AUTH_ENTRY_LOGIN)}');"><span class="icon icon-signin"></span>Login <div style="font-size:0.75em">with your Applied Materials credentials</div></button>
    </div>
  </section>
</section>
