## mako
<%! 
  from django.core.urlresolvers import reverse 
  from edxmako.shortcuts import marketing_link
%>
<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="${reverse('tos')}">Terms of Service</a></li>
          <li><a href="${reverse('tos')}#privacy">Privacy Policy</a></li>
          <li><a href="${reverse('tos')}#honor">Honor Code</a></li>
          <li><a href="${reverse('tos')}#copyright">Copyright</a></li>
        </ol>
      </nav>
    </div>

  </footer>
</div>

<div id="su-footer">
  <div class="su-container">
    <div class="su-row">


    </div>
  </div>
</div>
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      alert("Warning: you are using an unsupported browser\nand may be unable to use some features.\n\nWe suggest you use either Mozilla Firefox or\nGoogle Chrome. You will be redirected to appstore.");
      document.location.href = "http://appstore/CMApplicationCatalog/#/SoftwareCatalog/AppDetails/530063006F0070006500490064005F00410035003100320036003800330031002D0031003900340041002D0034003200340031002D0042003900410035002D003700380030003000320046003000420045004300460042002F004100700070006C00690063006100740069006F006E005F00370039006400350063003800380066002D0039006100300065002D0034006300320039002D0039006200640033002D00350066003900330039003300630062006400660037003200";
    });
  </script>
<![endif]-->
